@import url("https://fonts.google.com/specimen/Lexend+Deca");
@import url("https://fonts.google.com/specimen/Big+Shoulders+Display");

* {
  margin: 0;
  padding: 0;
  font-size: 15px;
}
body {
  background: hsl(0, 0%, 95%);
  overflow: hidden;
}
.container {
  width: 100vw;
}
.card_container {
  width: 80vw;
  box-shadow: 2px 1px 6px rgba(0, 0, 0, 0.3);
  margin: 100px auto;
  padding: 50px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
}
.card {
  display: flex;
  flex-direction: column;
  padding: 40px;
  width: 150px;
  color: white;
}
.card:nth-child(1) {
  background-color: hsl(31, 77%, 52%);
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
}
.card:nth-child(2) {
  background-color: hsl(184, 100%, 22%);
}
.card:nth-child(3) {
  background-color: hsl(179, 100%, 13%);
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}
img {
  height: 40px;
  width: 40px;
  margin: 5px;
}
.title {
  font-family: "Big Shoulders Display";
  font-weight: 700;
  line-height: 40px;
  color: hsl(0, 0%, 95%);
}
p {
  font-family: "Lexend Deca";
  font-weight: 400;
  color: hsla(0, 0%, 100%, 0.75);
}
button {
  border-radius: 999px;
  width: 70%;
  margin-top: 40px;
  border: none;
  border: 2px solid hsl(0, 0%, 95%);
  padding: 5px;
  font-size: 0.75rem;
  cursor: pointer;
  transition: all 0.8s ease;
  background-color: hsl(0, 0%, 95%);
  font-weight: 700;
}
button:active {
  transform: scale(0.75);
}
button:hover {
  background: none;
}

@media (max-width: 375px) {
  body {
    overflow: scroll;
    overflow-x: hidden;
  }
  .container {
    max-width: 95vw;
  }
  .card_container {
    flex-direction: column;
  }
  .card:nth-child(1) {
    border-radius: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .card:nth-child(3) {
    border-radius: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

